/* FIXME クラス名を変えるべき */
.card{
    padding: 1.2rem 3rem 1rem 3rem;
    margin: 1rem;
    border-radius: 1.5rem;
    border-color: rgba(238, 237, 237, 0.438);
    box-shadow: 5px 8px 10px #80808033;
}
@media(max-width:767px){
    .card{
        height: 10rem;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
}
.carousel-indicators li {
    width: 5px;
    height: 6px;
    border-radius: 100%;
    opacity: 0.2;
    background-color: #000000;
}
.carousel-indicators{
    margin-bottom: 0;
}
.temp{
    font-size: 5rem;
    color: rgb(57, 57, 58);
}
.card-1{
    background: linear-gradient(to right, #ffffff 50%, rgba(241, 224, 190, 0.507));
}
